{% extends "base.html" %}

{% load humanize %}
{% load ibkr_tags %}

{% block content %}
  <h2>Group Trades</h2>

  <form method="post" action="{% url 'ibkr:group-detail' pk=object.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
  </form>

  </br>

  <p>Aggregate Cost: {{object.trades_cost|floatformat:2|intcomma}}</p>

  <br/>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Symbol</th>
        <th>Underlying</th>
        <th>Executed At</th>
        <th>B/S</th>
        <th>O/C</th>
        <th colspan=2>Cost</th>
        <th colspan=2>PnL Realized</th>
        <th>Account</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Trade</th>
        <th>Cumulative</th>
        <th>Trade</th>
        <th>Cumulative</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for trade in object.trades_all|loadjson %}
          <tr>
            <td><a href="{% url 'ibkr:trade-detail' pk=trade.id %}">{{ trade.id }}</a></td>
            <td>{{ trade.symbol }}</td>
            <td>{{ trade.underlying_symbol }}</td>
            <td>{{ trade.executed_at_json }}</td>
            <td>{{ trade.buy_sell }}</td>
            <td>{{ trade.open_close_indicator }}</td>

            <td>{{ trade.cost|floatformat:2|intcomma }}</td>
            <td>{{ trade.cost_cumsum|floatformat:2|intcomma }}</td>

            <td>{{ trade.fifo_pnl_realized|floatformat:2|intcomma }}</td>
            <td>{{ trade.fifo_pnl_realized_cumsum|floatformat:2|intcomma }}</td>

            <td>{{ trade.account_id }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
